<!DOCTYPE html>
{% extends 'report.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content" >
    <div class="container-fluid pull-right">        
      <div class="row">

        <div class="col-md-4">  
          <div class="card card-chart">
            <div class="card-body"> 
              <h4 class="card-title">Book Issue:</h4>
              <canvas class="ct-chart" id="bookir_chart" data-url="{% url 'bookir_chart' %}"></canvas>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> Updated Recently
              </div>
            </div>
          </div> 
        </div>

        <div class="col-md-4">  
          <div class="card card-chart">
            <div class="card-body"> 
              <h4 class="card-title">Book Return:</h4>
              <canvas class="ct-chart" id="bookir_chart1" data-url="{% url 'bookir_chart1' %}"></canvas>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> Updated Recently
              </div>
            </div>
          </div> 
        </div>

        <div class="col-md-4">  
          <div class="card card-chart">
            <div class="card-body"> 
              <h4 class="card-title">Book Renewal:</h4>
              <canvas class="ct-chart" id="bookir_chart2" data-url="{% url 'bookir_chart2' %}"></canvas>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> Updated Recently
              </div>
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script> 
    var $populationChart = $("#bookir_chart"); 
     $.ajax({ 
       url: $populationChart.data("url"),
       success: function(data) { 
         // drawLineGraph(data, 'myChartline'); 
         drawBarGraph(data, 'myChartBar'); 
         console.log("drawing"); 
       }, 
       error: function(error_data) { 
         console.log(error_data); 
       } 
     }) 
   function drawBarGraph(data, id) 
     { 
       // var labels = data.labels; 
       // var chartLabel = data.chartLabel; 
       // var chartdata = data.chartdata; 
       var ctx = $populationChart[0].getContext("2d");
           new Chart(ctx, {
             type: 'bar',
             data: {
               labels: data.labels,
               datasets: [{
                 label: 'Book issue',
                 backgroundColor: 'orange',
                 data: data.data
               }]          
             },
         options: { 
           scales: { 
             yAxes: [{ 
               ticks: { 
                 {% comment %} display: false, {% endcomment %}
                 beginAtZero: true 
                },
               scaleLabel: {
                    display: true,
                    labelString: 'No.of book Issue'
                   }
             }],
             xAxes: [{ 
                scaleLabel: {
                    display: true,
                    labelString: 'Departments'
               
                   }
             }]  
           } 
         } 
       }); 
     }    
   </script> 
<script>
  $(function () {
    var $populationChart = $("#bookir_chart1");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {
        var ctx = $populationChart[0].getContext("2d");
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Book return',
              backgroundColor: 'purple',
              data: data.data
            }]          
          },
          options: { 
           scales: { 
             yAxes: [{ 
               ticks: { 
                 beginAtZero: true 
               },
               scaleLabel: {
                    display: true,
                    labelString: 'No.of book Return'
               
                   }
             }],
             xAxes: [{ 
                scaleLabel: {
                    display: true,
                    labelString: 'Departments'
                   }
             }]    
           } 
         } 
        });
      }
    });

  });
</script>
<script>
  $(function () 
  { var $populationChart = $("#bookir_chart2");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {
        var ctx = $populationChart[0].getContext("2d");
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Book renew',
              backgroundColor: 'red',
              data: data.data
            }]          
          },
          options: { 
           scales: { 
             yAxes: [{ 
               ticks: {beginAtZero: true},
               scaleLabel: {
                    display: true,
                    labelString: 'No.of book Renewed'
                   }
             }],
             xAxes: [{ 
                scaleLabel: {
                    display: true,
                    labelString: 'Departments'
                   }
             }]  
           } 
         } 
        });

      }
    });

  });

</script>
{% endblock content %}
 