<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<link rel="icon" type="image/png" href="/static/img/logo.png"> 
	<title>Login | PESU Library Analysis</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
		
<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
	<script src="/static/js/main.js"></script>
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	
</head>
<body>
		
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/img/pesu2.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
			
				<span class="login100-form-title p-b-41">
					Login
				</span>
				{% block content %}
				{% if messages %}
					{% comment %} <ul class="messages"> {% endcomment %}
						{% for message in messages %}
							<h3 class="alert alert-{{ message.tags }} text-white" role="alert">{{ message }}</h3>
						{% endfor %}
					{% comment %} </ul> {% endcomment %}
				{% endif %}
				<form class="login100-form validate-form p-b-33 p-t-5" method="post">
					{% csrf_token %}

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="User name" id="user">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password" id="pswd">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
				</form>
				{% endblock content %}
			<footer class="footer card-footer">
				<div class="container-fluid">
					<div class="gtco-contact-info text-white">
                        <h3>Contact Information:</h3>
                        <li >
							<i class="fa fa-phone"></i><a  href="callto:080-26722882"> 080 - 26722882 </a><br/>
							<i class="fa fa-at"></i><a  href="mailto:librarian@pes.edu"> librarian@pes.edu</a><br/>
							<i class="fa fa-globe"></i><a  href="http://library.pes.edu"> www.library.pes.edu</a>
						</li>	
                    </div>	
				</div>
      		</footer>
			</div>	
		</div>
	</div>
</body>
</html>