{% extends 'profile.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content">    
  <div class="container-fluid">
    <div class="row" >
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Register Profile</h4>
            <p class="card-category">Details of profile</p>
          </div>
          <div class="card-body">
            <form  method="post" autocomplete="off">
              {% csrf_token %}
                {{context.usertype|as_crispy_field}}
                {{context.username|as_crispy_field}}
                {{context.password|as_crispy_field}}
                {{context.contactnum|as_crispy_field}}
                {{context.email|as_crispy_field}}     
              <button type="submit" class="btn btn-success pull-right">Submit</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}