<!DOCTYPE html>
{% extends 'visitors.html' %}
{% load static %}
{% load crispy_forms_tags %}

  {% block content %}  
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        {% if messages %}
          {% for message in messages %}
          <div class="col-md-3 pull-right">
            <div class="alert alert-{{ message.tags }} text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <b>{{ message }}</span>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div> 
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <p class="card-category">
              {% comment %} <a href="{% url 'bookir' %}" class="btn btn-link pull-left" ><i class="fa fa-backward"></i></a> {% endcomment %}
              Visitors Details:</p>
            </div>
            <div class="card-body">
              <form method="GET" autocomplete="off" >
              {% csrf_token %}
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      {% comment %} <th style="font-weight: bold;">
                        ID
                      </th> {% endcomment %}
                      <th style="font-weight: bold;" class="text-left">
                        Date
                      </th>
                      <th style="font-weight: bold;" class="text-center">
                        NO.of Students
                      </th>
                      <th style="font-weight: bold;" class="text-center">
                        NO.of Staffs
                      </th>
                      <th style="font-weight: bold;" class="text-center">
                        NO.of Guests
                      </th>
                      <th style="font-weight: bold;" class="text-center">
                        Update/Delete
                      </th>
                    </thead>
                    <tbody>
                      {% for visitor in obj %} 
                      <tr>
                        {% comment %} <td>{{visitor.id}}</td>   {% endcomment %}
                        <td class="text-left">{{visitor.date}}</td>
                        <td class="text-center">{{visitor.students}}</td>
                        <td class="text-center">{{visitor.staff}}</td> 
                        <td class="text-center">{{visitor.visitors}}</td> 
                        <td class="td-actions text-center pull-center">
                          <a type="button" rel="tooltip" title="Edit" class="btn btn-link btn-success edit" href="{% url 'visitors_update' id=visitor.id d=0  %}">
                          <i class="material-icons">edit</i></a>

                          <a type="submit" rel="tooltip" title="Delete" class="btn btn-link btn-danger remove"
                          href="{% url 'visitors_update' id=visitor.id d=visitor.id  %}">
                            <i class="material-icons">close</i>
                          </a> 
                        </td>
                      </tr> 
                      {% endfor %} 
                    </tbody>
                  </table> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}